* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #e2e7ec;
}

.element {
	width: 300px;
	height: 250px;
	margin: 20px auto;
	background: #fff url('../img/img.jpg') no-repeat;
	background-size: contain;
	/* contin - изображение будет сохранять свои пропорции, при этом если размеры блока не соответсвуют изображению, то будет закрыта не вся площадь */
	background-size: cover;
	/* Изображение будет занимать весь блок, сохраняя свои пропорции, при необходимости, урезая стороны */
}

.element2 {
	border: 20px solid rgba(0, 0, 0, 0.5);
	padding: 20px;
	background-size: 300px;
	background-origin: border-box;
	/* padding-box - является свойством поумолчанию - область изображения, соответсвует области блока без учета рамки
	   border-box - область отображения соответсвует полному размеру блока, включая рамки
	   content-box - изображение позиционируется относительно содержимого блока, то есть с учетом внутренних отступов*/
	background-clip: border-box;
	/* отвечает за обрезку фона, раюотает с теми же значениями что и и background-origin */
	background-size: cover;
}