* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #e2e7ec;
}

.block, .block-two, .block-three, .block-four {
	width: 95%;
	height: 400px;
	margin: 20px auto;
}

.block{
	background-color: #000;
	background-image: linear-gradient(red, yellow, blue, green, yellow);
}

.block-two{
	background-color: #f00;
	background-image: linear-gradient(to bottom right, red, yellow);
}

.block-three {
	background-color: #0f0;
	background-image: linear-gradient(0deg, blue, pink);
	width: 400px;
	height: 200px;
	margin: 100px auto;
}

.block-four{
	background: #0f0;
	background-image: linear-gradient(yellow 0%, green 50%, blue 100%);
}



















